<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      <h3>Email: <%= @bug_report.email %></h3>

      <p>Menssagem: <%= @bug_report.message %></p>
  </body>
</html>
