<div class="container-fluid">

  <div class="panel panel-default">

    <div class="panel-heading">
        <h1 class="text-center">Processos</h1>
    </div>

    <div class="panel-body">

      <div class="table-responsive">

        <table class="table table-bordered" style="white-space: nowrap;">
          <thead>
            <tr>
              <th>#</th>
              <th>Número Processo</th>
              <th>Ano Processo</th>
              <th>Ação</th>
              <th>Data audiencia</th>
              <th>Hora Audiencia</th>
              <th>Tipo Audiencia</th>
              <th>Representante CPF</th>
              <th>Gênero Parte Réos</th>
              <th>Genêro Réu</th>
              <th>Nome Réu</th>
              <th>Genêro Juiz</th>
              <th>Nome Juíz</th>
              <th>Genêro Promotor</th>
              <th>Nome Promotor</th>
              <th>Genêro Adv Autor</th>
              <th>Advogado Autor</th>
              <th>Genêro Adv PR</th>
              <th>Advogado Réu</th>
            </tr>
          </thead>
          <tbody>
            <% @processes.each_with_index do |p, index| %>
              <tr>
                <td>
                  <div class="btn-group-sm">
                    <button type="button" name="button" class="btn btn-info">
                      <span class="glyphicon glyphicon-list-alt"></span>
                    </button>
                    <button type="button" name="button" class="btn btn-info">
                      <span class="glyphicon glyphicon-list-alt"></span>
                    </button>
                    <button type="button" name="button" class="btn btn-warning">
                      <span class="glyphicon glyphicon-edit"></span>
                    </button>
                    <button type="button" name="button" class="btn btn-danger">
                      <span class="glyphicon glyphicon-trash"></span>
                    </button>
                  </div>
                </td>
                <td><%= p.nu_process %></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                  <select class="form-control">
                    <option value="selecione" selected="selected"></option>
                    <option value="CONCILIAÇÃO">CONCILIAÇÃO</option>
                    <option value="INSTRUÇÃO E JULGAMENTO">INSTRUÇÃO E JULGAMENTO</option>
                    <option value="JUSTIFICAÇÃO">JUSTIFICAÇÃO</option>
                    <option value="CONCILIAÇÃO">CONCILIAÇÃO</option>
                    <option value="INSTRUÇÃO E JULGAMENTO">INSTRUÇÃO E JULGAMENTO</option>
                  </select>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            <% end %>

          </tbody>
        </table>
      </div>
    </div>
    <div class="panel-footer">
      <div class="container-fluid">
        <button type="button" name="button" class="btn btn-success">Cadastrar processos</button>
      </div>
    </div>
  </div>

</div>
