<!-- <% if user_signed_in? %>
  <div class="container-fluid">
    <div class="pull-right">
      <p>Achou algum bug? Algo está errado? <%= link_to 'Reporte aqui', new_bug_report_path, remote: true, data: {toggle: "modal", target: "#myModalReport"} %>
      </div> </p>
  </div>
  <div id="myModalReport" class="modal fade" role="dialog" aria-hidden="true"></div>

<% end %> -->
