<div class="navbar navbar-default">

  <div class="container-fluid">
    <p class="navbar-text" style="color: blue"><%= notice %></p>
    <p class="navbar-text" style="color: red"><%= alert %></p>

    <%= render 'layouts/session_buttons'%>
  </div>
</div>
